.forms {
    background: url(../imgs/4.jpeg) no-repeat;
    background-size: cover;
    height: 100vh;
}


.s{

    color: white !important;
    background-color: #24262b !important;
    font-family: "Rancho", cursive;
}

.s:hover{
    background-color: #795656 !important;
}
